.portfolio {
    width: 100%;
    height: 750px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.port {
    border: 1px solid #000;
    width: 90%;
    text-align: center;
}

.prt {
    display: inline-block;
    width: 45%;
    border: 1px solid #000;
    height: 650px;
}

.model-pic {
    border: 1px solid #000;
    background-image: url(./Modelssss/amanda-large.png);
    background-size: contain;
    width: 400px;
    height: 550px;
    background-repeat: no-repeat;
    
}

.left-port {
    display: flex;
    justify-content: space-evenly;
}

.right-port {}