@font-face {
    font-family: 'AndronFreefontLAT';
    src: url(./andron-freefont/AndronFreefontLAT.ttf);
}

.float-container {
    border: 3px solid #fff;
    padding: 20px;
    background-color: white;
    width: 100%;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
}

.float-child {
    width: 50%;
    height: 590px;
    float: left;
    padding: 20px;
    text-align: center;
}

.model-box {
    width: 340px;
    height: 490px;
    border: 3px solid #B87FD9;
    position: absolute;
    top: 30px;
    left: 30px;
}

.model-portfolio-pic {
    background-image: url(./Modelssss/amanda-large.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 29.28vw;
    height: 550px;
    margin: auto;
    position: relative;
}

@media (max-width: 768px) {
    .float-child {
        width: 100%;
    }
}

.model-info {
    height: 550px;
}

h1.model-name {
    font-family: 'Andron Freefont LAT';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 53px;
    letter-spacing: 0.005em;
    color: #000000;
    padding-bottom: 20px;
}

.model-info > hr {
    border-bottom: 2px solid #B87FD9;
    width: 96px;
    margin: auto;
    background-color: #B87FD9;
}
.model-main-info {
    margin: auto;
    width: 141px;
    
}

.model-main-info>p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #7C7474;
    margin-top: 10px;
    text-align: left;
}

.addtoshort {
    margin-top: 10px;
    background: #140C18;
    box-shadow: 0px 5.25714px 5.25714px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 160px;
    height: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18.4px;
    line-height: 28px;
    align-items: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}


.flexx_container {
    width: 90%;
    justify-content: center;
    margin: auto;
    padding: 40px;
}

.model-all {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.flexx {
    margin: 15px 15px 15px 0;
    width: 210px;
    height: 280px;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.item1 {
    background-image: url(./Modelssss/Amanda/1.png);
}

.item2 {
    background-image: url(./Modelssss/Amanda/2.png);
}

.item3 {
    background-image: url(./Modelssss/Amanda/3.png);
}

.item4 {
    background-image: url(./Modelssss/Amanda/4.png);
}

.item5 {
    background-image: url(./Modelssss/Amanda/5.png);
}

.item6 {
    background-image: url(./Modelssss/Amanda/6.png);
}

.item7 {
    background-image: url(./Modelssss/Amanda/7.png);
}

.item8 {
    background-image: url(./Modelssss/Amanda/8.png);
}

.item9 {
    background-image: url(./Modelssss/Amanda/9.png);
}

.item10 {
    background-image: url(./Modelssss/Amanda/10.png);
}
hr {
    border-bottom: 2px solid #B87FD9;
    width: 96px;
    background-color: #B87FD9;
    margin: 20px 0 20px 0;
}
h1.models_heading {
    font-family: 'Andron Freefont LAT';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 40px;
    letter-spacing: 0.025em;
    color: #FFFFFF;
    padding: 40px 0 20px 0;
}
span.tagline {
    font-family: 'Gotham', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
}